@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);
@font-face {font-family: "Druk Wide Bold"; src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot"); src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg"); }

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; color: white;}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html{
  background-color: black;
}
*{
  font-family: 'Inter', sans-serif; color: white;
  margin: 0;
}

ul{
  padding-left: 0;
  list-style: none;
}

li {
  display: inline;
}

li a{
  padding: 10px 10px 10px 10px;
  margin-left: 18px;
}

a{
  text-decoration: none;
  background-color: none;
}

p{
  font-size: 0.9rem;
}

h1{
  font-family: "druk";
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

h6{
  font-family: 'Inconsolata', monospace;
  font-size: 0.9rem;
  font-weight: 600;
  color: #666666;
}